/* Estilo general */
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    display: inline-block;
    margin: 0;
}

header button {
    float: right;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

button {
    
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

nav {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

nav input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #000;
}

aside {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    float: right;
}

aside h2 {
    margin: 0;
}

section {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    height: 1500px;
}

section h2 {
    margin: 0;
}

footer {
    position:relative;
    left:0px;
    bottom:0px;
    height: 170px;
    width:100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: start;
}

footer ul {
    display: inline-block;
    list-style: none;
    margin-left: 50px;
    padding: 0;
    width: 25%;
}

footer ul li {
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}

footer ul li a{
    text-decoration: none;
}

li#instagram img{
    position: relative;
    top: 7px;
    margin-right: 8px;
    left:-3px;
    width:25px;
}

li#facebook img{
    position: relative;
    top: 7px;
    margin-right: 8px;
    left:-3px;
    width:25px;
}

li#twitter img{
    position: relative;
    top: 7px;
    margin-right: 8px;
    left:-3px;
    filter: invert(100%); 
    width:25px;
}

footer ul li a {
    color: #fff;
}

footer div#info{
    margin-left: 150px;
    display: inline-block;
    align-content: center;
    text-align: center;
}

footer div#info a{
    margin: 15px;
    text-decoration: none;
    color: #fff;
}

footer div#info p{
    margin-top: 50px;
}


footer div#idioma{
    display: inline-block;
    position: relative;
    top: -66.5px;
    left: 500px;
}

footer div#idioma P img{
    position: relative;
    top: 7px;
    margin-right: 8px;
    width:25px;
}



/* Estilo de funkos */

.funko_item_priceSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.funko_item_price {
    margin: 0;
}

.funko {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}